.hotel-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 15px;
    padding: 22px 0 20px 20px;
  }
.spinner{
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
  @media (max-width: 960px) {
    .hotel-products {
      padding: 0;
    }
  }
  @media (max-width: 600px) {
    .hotel-products {
      grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
  }